<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Landing Page
        </title>
        <body>
            <h1>
                TTI: The time I...
            </h1>
            <h4>
                The time I found my favorite cookie
            </h4>
            <p>
                A long long time ago I used to really like Oreos! :) As I grew up I began to  dislike the taste of the frosting, so then I would spend my time scraping off the frosting and eating only the cookies. 
             </p>
            <p style="color:blue">
                After noticing how time consuming that was, oreos stopped being my favorite cookies. My world was slighty gloomy until one day when having the worst cramps ever and decided to go to Walgreens with my dad. I was doing my usual scan of the candy and junk food aisles when suddenly I came face to face with <b><i>Pepperidge Farm "Dark Chocolate Milano Cookies!"</i></b> <a href="https://www.pepperidgefarm.com/product-categories/cookies/"> (More info on products here) </a>  My world changed that day, and definitely for the better!
             </p>
            

    <p>My family tree:</p>
    <p>Parents:</p>
    <ul>
        <li>Mom (Cristina)</li>
        <li>Dad (Juan Carlos)</li>
    </ul>
    <p>Siblings:</p>
    <ul>
        <li>Carlos</li>
        <li>Martin</li>
    </ul>


    <p>My family in age order</p>
<ol>
    <li>Mother</li>
    <li>Father</li>
    <li>Carlos</li>
    <li>Jari</li>
    <li>Mateo</li>
    <li>Martin</li>

</ol>


        </body>

    </html>

